---
import { Picture } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = {
	post: CollectionEntry<'diy' | 'dessert'>;
	class?: string;
	layout?: 'grid' | 'horizontal';
};

const { post, class: className } = Astro.props;
const { title, publishedDate, heroImage } = post.data;
const layout = Astro.props.layout ?? 'grid';

const path = `/${post.collection}/${post.slug}`;
---

<article class:list={[className, `layout-${layout}`]}>
	<a href={path}>
		<div class="picture">
			<Picture src={heroImage} alt="" />
		</div>
		<div class="published-date">
			<FormattedDate date={publishedDate} />
		</div>
		<div class="title">
			{title}
		</div>
	</a>
</article>

<style lang="scss">
	article {
		display: block;
		text-align: center;
		padding-bottom: 2rem;

		&.layout-grid {
			width: 100%;
			@include breakpoint(sm) {
				width: 44%;
			}
			@include breakpoint(lg) {
				width: 30%;
			}
			@include breakpoint(xl) {
				width: 21%;
			}
			@include breakpoint(xxl) {
				width: 18%;
			}
		}

		.picture {
			display: block;
			margin-bottom: 0.5rem;
		}

		.published-date {
			display: block;
			margin-bottom: 0.5rem;
			font-size: 0.75rem;
			color: var(--gray);
			letter-spacing: 0.02em;
			line-height: 1.5em;
			text-decoration-color: transparent;
		}

		.title {
			display: block;
			margin-bottom: 1rem;
			color: var(--black);
			text-transform: uppercase;
			font-weight: 350;
			letter-spacing: 0.05em;
			font-size: 1.2rem;
			@include breakpoint(lg) {
				font-size: 1.45vw;
			}
			@include breakpoint(xl) {
				font-size: 1.6rem;
			}
		}

		&.layout-horizontal {
			flex: 1 1 0; /* This makes all containers grow and shrink equally */
			display: none;

			@include breakpoint(xs) {
				&:nth-child(-n + 2) {
					display: block;
				}
			}
			@include breakpoint(sm) {
				&:nth-child(-n + 3) {
					display: block;
				}
			}
			@include breakpoint(md) {
				&:nth-child(-n + 5) {
					display: block;
				}
			}

			.picture {
				position: relative;
				width: 100%;
				padding-top: 133%; /* 9:16 aspect ratio */
				overflow: hidden;
			}

			.picture img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.title {
				font-size: 0.85rem;
			}

			.published-date {
				display: none;
			}
		}
	}
</style>
